<aside id="sidebar-multi-level-sidebar" class="sticky top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
  <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
    <ul class="space-y-2 font-medium">
      <li>
        <%= link_to admin_news_index_path, class: "flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group" do %>
          <span class="material-symbols-outlined">newsmode</span>
          <span class="flex-1 ms-3 whitespace-nowrap">News</span>
        <% end %>
      </li>
      <%# <li> %>
        <%#= link_to '/', class: "flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group" do %>
          <%# <span class="material-symbols-outlined">support</span> %>
          <%# <span class="flex-1 ms-3 whitespace-nowrap">Rescue</span> %>
        <%# end %>
      <%# </li> %>
      <li>
        <%= link_to destroy_user_session_path, class: "flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group", method: :delete do %>
          <span class="material-symbols-outlined">logout</span>
          <span class="flex-1 ms-3 whitespace-nowrap">ログアウト</span>
        <% end %>
      </li>
    </ul>
  </div>
</aside>