<div class="card card-compact w-96 bg-base-100 shadow-xl">
  <figure class="max-h-48">
    <%= image_tag '/assets/rescude_cat/1.jpg', alt: '保護猫'%>
  </figure>
  <div class="card-body">
    <h2 class="card-title text-base">【三兄弟】抱っこ大好きな甘えん坊</h2>
    <p>雑種</p>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">詳細</button>
    </div>
  </div>
</div>